@model DemoHtmlHelper.Models.LoginModel

<html>
<body>
    <h1>Login</h1>
    @*Strongly HTML*@
    @using (Html.BeginForm())
    {
     <div>
            Username:@Html.TextBoxFor(m=>m.Username)
     </div>
     <div>
            Password:@Html.PasswordFor(m=>m.Password)
     </div>
     <input type="submit" value="Login"/>
    }


    @*Standard HTML*@
    @*@using (Html.BeginForm())
    {
    <div>
    Username:@Html.TextBox("Username")
    </div>
    <div>
    Password.@Html.Password("Password")
    </div>
    <div>
    <input type="Submit" value="Login" />
    </div>
    }*@

</body>
</html>
